
{{!-- Modal Structure --}}
<div class="container">
  <div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 100%;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add New Event</h5>
          <button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="font-size: 20px;">&times;</span>
          </button>
        </div>
        <form action="/api/events" method="post" class="container row">
            <div class="form-group col">
              <label for="eventTitle" class="col-form-label">Event Title:</label>
              <input type="text" class="form-control" id="recip-name" name="title">
            </div>
            <div class="form-group col">
              <label for="eventTime" class="col-form-label">Event Time:</label>
              <input type="text" class="form-control" id="recipientame" name="time">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Event Description:</label>
              <textarea class="form-control" id="text" name="description"></textarea>
            </div>
            <div class="form-group" id="date-form">
              <label for="event-time" id="event-time">Choose a date for your event:</label>
              <div>
                <input class="datepicker" id="eventDate" name="date">
                <span class="validity"></span>
              </div>
              
           </div>

            <div class="form-group">
            <label class="form-label mt-2" for="image">Image for Event</label>
            <input type="file" class="form-control" id="image" name="image" title="image">
            </div>
          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" value="submit" class="btn btn-dark">Create Event</button>
        </div>
        </form>

      </div>
    </div>
  </div>
</div>
{{!-- Initialize Modal Button --}}
<div class="container d-flex justify-content-end">
<button type='button' class="btn btn-dark w-100" data-toggle="modal" data-target="#addEvent">Add Event</button>
</div>


<!-- Modal for edit events when edit event button is pressed. -->
<div class="container">
  <div class="modal fade" id="editEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 60%;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit event</h5>
          <button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="font-size: 20px;">&times;</span>
          </button>
        </div>
        <form>
            <div class="form-group col">
              <label for="eventTitle" class="col-form-label">Event Title:</label>
              <input type="text" class="form-control" id="event-title" name="title" value=''>
            </div>
            <div class="form-group col">
              <label for="eventTime" class="col-form-label">Event Time:</label>
              <input type="text" class="form-control" id="time" name="time">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Event Description:</label>
              <input class="form-control" id="event-content" name="description"></input>
            </div>
            <div class="form-group" id="date-form">
              <label for="event-time" id="event-time">Edit date for your event:</label>
              <div>
                <input class="datepicker" id="event-date" name="date">
                <span class="validity"></span>
              </div>

           </div>

            <div class="form-group">
            <label class="form-label mt-2" for="image">Image for Event</label>
            <input type="file" class="form-control" id="image2" name="image2" title="image">
            </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="sumbit" value="submit"  class="btn btn-dark submitEdit" >Update Event</button>
        </div>
       </form>

      </div>
    </div>
  </div>
</div>


{{!-- Events to Display --}}
<div class="container overflow-auto" style="max-height:600px;">
      {{#each events as |event| }}
        <div class="card m-3" style="max-width: 50%;">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="date-card">
                <div>
                  <div class="date-two">{{date}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-8">

              <div class="container d-flex justify-content-end" id="events">
                <button class="btn mt-2 mr-4" data-toggle="modal" data-target="#editEvent" data-src="{{id}}" id="editEventBtn">Edit Event</button>
                <button class="btn deleteEventBtn" id='{{id}}'><span style="font-size:10px; pointer-events:none"
                    class="deleteEvent">&#10006;</span></button>
              </div>

              <div class="col-md-8 m-4">
                <div class="card-body" id="event-body">
                  <h1><img src="/public/images/bookshelf.jpeg" alt=""><h1>
                  <h5 class="card-title" id="event-title">{{title}}</h5>
                  <p class="card-text" id="event-text">{{description}}</p>
                  <p class="card-text" id="event-text">{{time}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
</div>

<script>
  
</script>

{{!-- {{#each events as |event| }}




<div class="card m-3" style="max-width: 900px">
  <div class="row g-0">
    <div class="col-md-4">

      <img src="{{img}}" class="img-fluid rounded-start" alt="...">
    </div>
   
    <div class="col-md-8"> 
  
      <div class="container d-flex justify-content-end" id="events">
       <button class="btn mt-2 mr-4" >Edit Event</button>
       <button class="btn deleteEventBtn" id='{{id}}'><span style="font-size:10px; pointer-events:none" class="deleteEvent">&#10006;</span></button>
        </div>  
    
   
      <div class="card-body m-4">
        
        
  
        <h5 class="card-title">{{title}}</h5>
        <form>
        <p id="event_id" values=''></p>
        </form>
        <p class="card-text">{{description}}</p>
        <p class="card-text"><small class="text-muted">{{created_at}}</small></p>
        
      </div>
    </div>
  </div>
</div>
{{/each}} --}}

<script src="/javascript/librarian/removeEvent.js"></script>
<script src="/javascript/librarian/createAnEditEvent.js"></script>
