<div class="d-flex flex-column align-items-center ">
{{#each books as |book| }}
<div class="row mb-4 w-75">
    <div class="d-flex justify-content-between mb-4">
        <h2>
        {{book.title}}
        </h2>

          <a class="btn" href="/api/favorites/add/{{book.id}}" style="color: Green" role="button">X</a>

    </div>
  <div class="col-md-5">
 
    <p>
        Author: {{book.author}}
    </p>
    {{#if book.reader_id}}
    Currently not available.
    {{else}}
    Available to borrow.
    {{/if}}
  </div>
  <div class="col-md-7">
    <p> 
      {{book.subject}}
    </p>
  </div>
</div>
{{/each}}
</div>